// Define variables for your color scheme

// For example:
$red: #C12218;
$blue: #0D6EFD;
$yellow: #F0DF48;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #062010;
$green-dark: #153D22;
$green-medium: #1A8A47;
$green-pop: #09DB6A;
$gray-dark: #888888;
$gray-medium: #DFDFDF;
