.table-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(6, 32, 16, 0.25);
  width: 20rem;
  position: relative;
}

.table-item > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.table-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.table-item p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.table-item .table-item-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.table-item-infos .table-item-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
