.table-item {
  position: relative;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(0deg, rgba(37, 99, 55, 1) 0%, rgba(21, 61, 34, 1) 100%);
  border: 1px solid $green-dark;
  box-shadow: 0px 0px 10px rgba(6, 32, 16, 0.5);
  border-radius: 36px;
}
.table-card-item {
  max-height: 40px;
}

.table-item h2 {
  color: white;
}

.table-item p {
  font-size: 14px;
  margin: 0;
}
