<div class="raisecontainer">
  <div class="range-slider" data-controller="raise">
    <%= link_to "raise", raise_hand_player_hand_path(current_user.player_hands.last.id), raise_amount: "", data: { target: "raise.sender", turbo_method: :patch }, class: "btn btn-success ms-2" %>
    <form class="ms-2">
      <label for="customRange" class="form-label mb-0">Amount: </label>
      <output class="raise__value"
              data-target="raise.value">0</output>
      <input type="range"
            name="customRange"
            class="raise__range"
            data-target="raise.range"
            data-action="input->raise#updateValue"
            value=<%= min %>
            min=<%= min %>
            max=<%= max %>
            step="1">
    </form>
  </div>
</div>
