<% if players.find_by(position: position).nil? %>
  <% if players.exclude?(player) && player.user.balance >= poker_table.small_blind * 100 && player.user.players.active.empty? %>
    <div class="join-seat seat-right">
      <%= link_to "Join seat", poker_table_players_path(poker_table, position: position), data: { turbo_method: :post }, class: 'stretched-link' %>
    </div>
  <% else %>
    <div class="available-seat seat-right">
      <p><%= position %></p>
    </div>
  <% end %>
<% else %>
  <div class="player-container player-container-right" data-controller="popper">
    <div class="player-display player-display-right <% if !table_hand.nil? && table_hand.status != 'end' %>
      <% if players.find_by(position: position).position == table_hand.first_player_position %>
        first-player-right
      <% elsif players.find_by(position: position).position == table_hand.positions[(table_hand.positions.index(table_hand.first_player_position) + 1) % players.count] %>
        second-player-right
      <% end %>
    <% end %>" data-popper-target="element" data-action="mouseenter->popper#show mouseleave->popper#hide">
      <div id="tooltip" role="tooltip" data-popper-target="tooltip">
         My tooltip
         <div id="arrow" data-popper-arrow></div>
      </div>
      <%= render 'poker_tables/player', player: players.find_by(position: position), table_hand: table_hand %>
    </div>
  </div>
<% end %>
