<% if players.find_by(position: position).nil? %>
  <% if players.exclude?(player) && User.find_by(players: player).balance >= poker_table.small_blind * 100 %>
    <div class="join-seat seat-right">
      <%= link_to "Join seat", poker_table_players_path(poker_table, position: position), data: { turbo_method: :post }, class: 'stretched-link' %>
    </div>
  <% else %>
    <div class="available-seat seat-right">
      <p><%= position %></p>
    </div>
  <% end %>
<% else %>
  <div class="player-display player-display-right">
    <%= render 'poker_tables/player', player: players.find_by(position: position), table_hand: table_hand %>
  </div>
<% end %>
