<% unless winnerhand.combination.nil? %>
  <% case winnerhand.combination.first %>
  <% when 0 then combo = "High Card"%>
  <% when 1 then combo = "Pair of #{winnerhand.combination.last}"%>
  <% when 2 then combo = "Double Pair with highest pair #{winnerhand.combination.last} "%>
  <% when 3 then combo = "Three of a kind of #{winnerhand.combination.last}"%>
  <% when 4 then combo = "Straight of #{winnerhand.combination.last}"%>
  <% when 5 then combo = "Flush of #{winnerhand.combination.last}"%>
  <% when 6 then combo = "Full House with #{winnerhand.combination.last}"%>
  <% when 7 then combo = "Four of a kind of #{winnerhand.combination.last}"%>
  <% when 8 then combo = "Staight Flush"%>
  <% when 9 then combo = "Royal Flush Quinte Staight Legendary Chatte!"%>
  <% end %>

<% else %>
  <% combo = "folded opponents" %>
<% end %>


<h1>Congratulations <%= winnerhand.player.user.nickname  %>!</h1>
<h2>You won with: <%= combo %></h2>

<% if current_user.players.last == winnerhand.player%>
  <%= link_to "Restart", table_hands_path(poker_table_id: @poker_table.id), data: { turbo_method: :post } %>
<% end %>
