<% unless winnerhand.combination.nil? %>
  <%  case winnerhand.combination.last  %>
    <%  when 11 then trad = winnerhand.combination.last.to_s.gsub("11", "Jacks")  %>
    <%  when 12 then trad = winnerhand.combination.last.to_s.gsub("12", "Queens")  %>
    <%  when 13 then trad = winnerhand.combination.last.to_s.gsub("13", "Kings")  %>
    <%  when 14 then trad = winnerhand.combination.last.to_s.gsub("14", "Aces")  %>
  <% end %>
  <% case winnerhand.combination.first %>
  <% when 0 then combo = "High Card"%>
  <% when 1 then combo = "Pair of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 2 then combo = "Double Pair with highest pair of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 3 then combo = "Three of a kind of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 4 then combo = "Straight with highest card of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 5 then combo = "Flush with hightest card of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 6 then combo = "Full House of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 7 then combo = "Four of a kind of #{trad.nil? ? winnerhand.combination.last : trad}"%>
  <% when 8 then combo = "Straight Flush with highest card of #{trad.nil? ? winnerhand.combination.last : trad}" %>
  <% when 9 then combo = "Royal Emperor Straight Legendary Flush" %>

  <% end %>

<% else %>
  <% combo = "folded opponents" %>
<% end %>


<h1>Congratulations <%= winnerhand.player.user.nickname  %>!</h1>
<h2>You won with: <%= combo %></h2>

<% if current_user.players.last == winnerhand.player%>
  <%= link_to "Restart", table_hands_path(poker_table_id: @poker_table.id), data: { turbo_method: :post } %>
<% end %>
