.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: white 2px solid;
}
.avatar-large {
  height: 110px;
  width: 110px;
  object-fit: cover;
  border-radius: 50%;
  border: double 6px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), linear-gradient(#256337, #153D22);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
  box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.25);
}

.avatar-select {
  border: 4px dashed #09DB6A;
  box-shadow: 0px 0px 6px #09DB6A;
  padding: 16px;
  border-radius: 50%;
}
