.navbar-lewagon {
  justify-content: space-between;

  .dropdown-menu-dark {
    background-color: $green-dark;
    border-radius: 3px;
  }
  .nav-item,
  .nav-link {
    color: white;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 150px;
  }
}
