.player-display {
  display: inline-block;
  position: relative;
  text-align: center;

  .player-display-info {
    background: linear-gradient(0deg, rgba(37, 99, 55, 0.6) 0%, rgba(21, 61, 34, 0.6) 100%);
    border: 1px solid $green-dark;
    box-shadow: 0px 4px 4px rgba(6, 32, 16, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 2.5rem;
    padding: 0.3rem 2rem;
    display: inline-block;
    margin-top: -1.2rem;
    max-width: 200px;
    overflow-wrap: break-word;
    h2 {
      font-size: 1.125rem;
      color: $gray-medium;
      margin-bottom: 0;
      font-family: $body-font;
    }
    p {
      color: $green-pop;
      margin-bottom: 0;
    }
  }
}
.player-display-top {
  margin-top: -35px;
  margin-bottom: -38px;
}
.first-player-top:after {
  content: asset_url('coin-small-blind.svg');
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}
.second-player-top:before {
  content: asset_url('coin-big-blind.svg');
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}

.player-display-right {
  transform: translateX(calc(50% - 28px));
  margin-top: -18px;
}

.first-player-right:after {
  content: url('coin-small-blind.svg');
  position: absolute;
  left: -16px;
  bottom: 1px;
  transform: translateY(-50%);
}
.second-player-right:before {
  content: url('coin-big-blind.svg');
  position: absolute;
  left: -23px;
  bottom: 3px;
  transform: translateY(-50%) rotate(90deg);
}

.player-display-left {
  transform: translateX(calc(-50% + 28px));
  margin-top: -18px;
}

.first-player-left:after {
  content: url('coin-small-blind.svg');
  position: absolute;
  right: -16px;
  bottom: 1px;
  transform: translateY(-50%);
}
.second-player-left:before {
  content: url('coin-big-blind.svg');
  position: absolute;
  right: -23px;
  bottom: 3px;
  transform: translateY(-50%) rotate(90deg);
}


.player-display-bottom {
  margin-bottom: -71px;
}

.first-player-bottom:after {
  content: url('coin-small-blind.svg');
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
}
.second-player-bottom:before {
  content: url('coin-big-blind.svg');
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
}

.player-folded:after {
  content: 'fold';
  background: linear-gradient(rgba(21, 61, 34, 0.9), rgba(21, 61, 34, 0.9)), linear-gradient(180deg, rgba(6, 32, 16, 0) 50%, $green-dark 100%);
  ;
}

.player-active { // To put on avatar select
  border: 4px dashed #09DB6A;
  filter: drop-shadow(0px 0px 6px #09DB6A);
}


.player-container-top {
  transform: scale(0.6);
  transform-origin: top;
}
.player-container-left {
  transform: scale(0.6);
  transform-origin: left;
}
.player-container-right {
  transform: scale(0.6);
  transform-origin: right;
}
.player-container-bottom {
  transform: scale(0.6);
  transform-origin: bottom;
}

@include media-breakpoint-up(md) {
  .player-container {
    transform: scale(0.8);
  }
}
@include media-breakpoint-up(lg) {
  .player-container {
    transform: scale(0.9);
  }
}
@include media-breakpoint-up(xl) {
  .player-container {
    transform: scale(1);
  }
}
