.player-dashboard {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: max-content;
}

.game-controls {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.player-cards {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: max-content;
  &:hover #player-card1 {
    transform-origin: left bottom;
    transform: rotate(-8deg);
  }
  &:hover #player-card2 {
    transform-origin: right bottom;
    transform: rotate(8deg);
  }
  .player-card {
    height: 150px;
    box-shadow: 0px 4px 10px rgba(6, 32, 16, 0.4);
    transition: all 0.5s ease;
  }
  #player-card2{
    margin-left: -70px;
  }
}
